<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <style media="screen">
        body{
            background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
    </style>
</head>
<body>
<div class="jumbotron jumbotron-fluid" style="text-align:center; background: linear-gradient(to right, #b2fefa, #0ed2f7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
    <div class="container" style="color:black; font-weight: bold; ">
        <h1 class="display-4">Weather App</h1>
        <p class="lead">Built using Node.JS and Express.JS</p>
    </div>
</div>


<div class="container">
    <div class="" style="width: 300px; margin: auto;">
        <form class="form-inline" action="/" method="post">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" style="font-size: 14px;" id="" placeholder="City" name="citynames">
            </div>
            <!-- <button type="submit" class="btn btn-primary btn-md mb-2">Submit</button> -->
            <input class="btn btn-primary" type="submit" value="Submit">

        </form>
    </div>
</div>


<div class="container">

    <% for(var i = 0; i<data.length; i++){ %>
        <div class="" style="width: 400px; margin: 20px auto; border: 1px solid black; padding: 10px 10px;  background: linear-gradient(to right, #b2fefa, #0ed2f7);">
            <div class="media">
                <img class="align-self-center mr-3" style="width:100px; height:100px;" src="http://openweathermap.org/img/w/<%=data[i].icon%>.png" alt="Generic placeholder image">
                <div class="media-body">
                    <h4>City: <%=data[i].city%></h4>
                    <h6 class="mt-0">Temperature (in Fahrenheit): <%=data[i].temperature%></h6>
                    <h6 class="mt-0">Feels Like: <%=data[i].feels_like%></h6>
                    <h6>Description: <%=data[i].description%></h6>
                </div>
            </div>
        </div>
    <%}%>


</div>
</body>
</html>
